@define-color hot #fab387;        /* Peach */
@define-color warm #F5E0DC;       /* Rosewater */
@define-color normal #74c7ec;     /* Sapphire */
@define-color text #9399b2;     /* Overlay2 */
@define-color active #a6e3a1;     /* Green */
@define-color background #181825;  /* Mantle */
@define-color foreground #9399b2;

#workspaces button.active label {
  color: @active;
}

/* I think this looks better just a wee bit larger. */
#bluetooth {
  font-size: 11pt;
  margin-right: 7px;
}

/* Other modules. */
#clock,
#network,
#pulseaudio,
#cpu,
#group-tray-expander,
#custom-expand-icon,
#power-profiles-daemon.balanced,
#battery,
#custom-omarchy,
#hyprland-window,
#bluetooth,
#window,
#battery.normal {
  color: @text;
}

#custom-omarchy {
  color: @normal;
}

/* HOT colored icon states */
#power-profiles-daemon.performance, #battery.critical {
  color: @hot;
}

/* ACTIVE color icon states */
#power-profiles-daemon.power-saver, #battery.charging {
  color: @active;
}
